body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
}

h1, p {
    margin-bottom: 0px;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 50px;
}