body {
    color: white;
    background-color: black;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

h1 {
    user-select: none;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    max-width: 800px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 55, 55, .2);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 55, 55, 0.5);
}