body {
    color: white;
    background-color: black;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
    margin: auto;
    user-select: none;
    overflow: hidden;
}

h1, h2, p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 200px
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
}

.choiceButton {
    flex: 1;
    background-color: black;
    color: white;
}

.choiceButton.selected {
    background-color: white;
    color: black
}

.setting {
    display: block;
    background-color: #191919;
    color: white;
    width: 100%;
    text-align: left;
    margin: 0;

}

.setting.selected {
    background-color: white;
    color: black
}

.choiceContainer {
    display: flex
}

#settings, #instance-picker {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: right .3s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

#settings.open {
    right: 0;
}

#instance-picker {
    left: -100%;
    transition: left .3s ease;
}

#instance-picker.open {
    left: 0;
}

#settings-button, #instance-picker-button {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
}

#instance-picker-button {
    right: auto;
    left: 0;
}

#settings-back, #instance-picker-back {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
}

#instance-picker-back {
    left: auto;
    right: 0
}

.dropdown-btn {
    cursor: pointer;
    color: white;
    text-align: left;
    margin-left: 0;
    font-size: 20px;
}

.dropdown-content {
    display: none;
}

.dropdown-content.active {
    display: block;
}