body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
    margin: auto;
    user-select: none;
}

h1, p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
}

.choiceButton {
    flex: 1;
    background-color: black;
    color: white;
}

.choiceButton.selected {
    background-color: white;
    color: black
}

.choiceContainer {
    display: flex
}